<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<link th:href="@{/css/main.css}" rel="stylesheet" type="text/css"/>
<title>main</title>
</head>
<body>
<div class="container">
<header id = "topMenu" align="right">
        <span>FMA PROJECT</span>
        <button class="topLink" onclick="location.href='login'">관리자 로그인</button>
        <button class="logout" onclick="location.href='login/logout'">로그아웃</button>

</header>

<main th:if="${session.loginMember.getAuth() != 'null'}">
    <div class="main-left">
        <div class="main-left-btn">
            <button class="btn-auto">자동</button>
            <button class="btn-manual">수동</button>
        </div>
        <div class="main-left-component">
            <div class="component-top">Detail Controller</div>
            <div class="component-bottom">
                <div>
                    <button class="btn-execution">STOP</button>
                </div>
                <input type="text" class="inp-detail"/>
            </div> 
        </div>
    </div>
    <div class="main-right">
        <div class="main-right-btn">
        <button class="testBtn">TEST</button>
        <button class="runBtn">RUN</button>
    </div>
        <div class="result-value"></div>
    </div>
</main>

</body>
</html>